@media (min-width: 768px) {

    body {
        background-size: cover;
        background-color: #ffffff;
    }

    h1 {
        font-family: 'Poppins', serif;
    }

    h2 {
        text-align: center;
        color: rgb(27, 0, 46);
        font-family: 'Yeseva One', serif;
        font-size: 22px;
    }

    h3 {
        text-align: center;
        color: rgb(27, 0, 46);
        font-family: 'Yeseva One', serif;
        font-size: 35px;
    }

    p {
        text-align: center;
        color: rgb(27, 0, 46);
        font-family: 'Poppins', sans-serif;
        font-size: 19px;
        font-weight: 200;
    }

    #fotoperfil {
        align-items: center !important;
    }

    #card-title {
        font-family: 'Yeseva one', serif;
        font-size: 19px;
    }

    #detalles {
        font-family: 'Public Sans', sans-serif;
        font-size: 12px;
    }

    #botonexperiencia {
        font-family: 'Public Sans', sans-serif;
        font-size: 16px;
    }

    #nombresempresa {
        font-family: 'Yeseva one', serif;
        font-size: 22px;
    }

    #restaurarcotraseña {
        font-family: 'Public Sans', sans-serif;
    }

    body {
        background-color: #fff;
    }


    .contenido {
        padding-top: 48px;
        padding-bottom: 80px;
        margin-top: 150px;
    }

    .rosca {
        width: 300px;
        height: 300px;
        object-fit: contain;
        transition: transform 0.3s ease;
    }

    .rosca:hover {
        transform: scale(1.05);
    }


    .tarjeta {
        background-color: #f8f9fa;
        border-radius: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        min-width: 320px;
        max-width: 420px;
    }

    .barra-superior {
        background-color: rgb(255, 240, 173);
        height: 55px;
    }

    .barra-superior {
        background-color: rgb(255, 240, 173);
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .iconos-izq {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: 600px;
    }

    .buscador-container {
        margin-right: 20px;
    }

    .buscador {
        padding: 6px 30px 6px 12px;
        border-radius: 25px;
        border: 1px solid #cfcfcf;
        background: #ffffff;
        width: 240px;
        margin-right: 600px;
    }

    .icono-header {
        width: 28px;
        height: 28px;
        object-fit: contain;
    }

    th {
        text-align: inherit;
        text-align: -webkit-match-parent;
    }

    .layout {
        display: flex;
        gap: 28px;
        justify-content: center;
        margin: 34px auto;
        max-width: 1150px;
        padding-bottom: 80px;
    }

    .feed {
        width: 760px;
        display: flex;
        flex-direction: column;
        gap: 46px;
    }

    .post {
        border-radius: 18px;
        overflow: hidden;
        border: 2px solid #00000033;
        background: transparent;
    }

    .post-header {
        display: flex;
        gap: 14px;
        align-items: center;
        padding: 16px;
        background: #fff1a2;
    }

    .avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        object-fit: cover;
    }

    .user-name {
        font-weight: 600;
    }

    .user-sub {
        font-size: 13px;
        color: #777;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .photo img {
        width: 100%;
        height: 210px;
        object-fit: cover;
    }

    .post-description {
        padding: 12px 18px;
        background: #fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .desc-user {
        font-weight: 600;
    }

    .post-actions {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        padding: 6px 16px;
        background: #c4dfbb;
    }

    .post-actions i {
        cursor: pointer;
        padding: 6px;
        border-radius: 50%;
        transition: .2s;
    }

    .post-actions i:hover {
        background: #ffe57a;
    }

    .toggle-line {
        width: 100%;
        height: 14px;
        background: #e6e6e6;
        cursor: pointer;
        transition: 0.2s;
    }

    .toggle-line:hover {
        background: #d3d3d3;
    }


    .comments {
        padding: 18px;
        background: #fff4b8;
        border-radius: 0 0 14px 14px;
        max-height: 500px;
        overflow: hidden;
        transition: max-height .35s ease, padding .25s ease;
    }

    .comments.fold {
        max-height: 0;
        padding: 0 18px;
    }

    .comment {
        display: flex;
        gap: 12px;
        padding: 10px 0;
    }

    .c-avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
    }

    .ad-column {
        width: 310px;
        padding-top: 24px;
    }

    .ad-img {
        width: 100%;
        height: 86vh;
        object-fit: cover;
        border-radius: 160px;
    }
}


@media (max-width: 768px) {

    body {
        background-size: cover;
        background-color: #ffffff;
    }

    h2 {
        text-align: center;
        color: rgb(27, 0, 46);
        font-family: 'Yeseva One', serif;
        font-size: 20px !important;
    }

    p {
        text-align: center;
        color: rgb(27, 0, 46);
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 300;
    }


    #detalles {
        font-family: 'Public Sans', sans-serif;
        font-size: 9px;
    }

    #botonexperiencia {
        font-family: 'Public Sans', sans-serif;
        font-size: 12px;
    }

    #nombresempresa {
        font-family: 'Yeseva one', serif;
        font-size: 15px;
    }

    #card-title {
        font-family: 'Yeseva one', serif;
        font-size: 15px;
    }

    #boton-iniciar {
        font-size: 13px !important;
    }

    #fotoperfil {
        align-items: center !important;
        height: 200px !important;
    }

    body {
        background-color: #fff;
    }


    .contenido {
        padding: 60px;
    }



    .barra-superior {
        background-color: rgb(255, 240, 173);
        height: 55px;
    }

    .barra-superior {
        background-color: rgb(255, 240, 173);
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .iconos-izq {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: 600px;
    }

    .buscador-container {
        margin-right: 20px;
    }

    .buscador {
        padding: 6px 30px 6px 12px;
        border-radius: 25px;
        border: 1px solid #cfcfcf;
        background: #ffffff;
        width: 240px;
        margin-right: 600px;
    }

    .icono-header {
        width: 28px;
        height: 28px;
        object-fit: contain;
    }

    th {
        text-align: inherit;
        text-align: -webkit-match-parent;
    }

    .layout {
        display: flex;
        gap: 28px;
        justify-content: center;
        margin: 34px auto;
        max-width: 1150px;
        padding-bottom: 80px;
    }

    .feed {
        width: 760px;
        display: flex;
        flex-direction: column;
        gap: 46px;
    }

    .post {
        border-radius: 18px;
        overflow: hidden;
        border: 2px solid #00000033;
        background: transparent;
    }

    .post-header {
        display: flex;
        gap: 14px;
        align-items: center;
        padding: 16px;
        background: #fff1a2;
    }

    .avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        object-fit: cover;
    }

    .user-name {
        font-weight: 600;
    }

    .user-sub {
        font-size: 13px;
        color: #777;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .photo img {
        width: 100%;
        height: 210px;
        object-fit: cover;
    }

    .post-description {
        padding: 12px 18px;
        background: #fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .desc-user {
        font-weight: 600;
    }

    .post-actions {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        padding: 6px 16px;
        background: #c4dfbb;
    }

    .post-actions i {
        cursor: pointer;
        padding: 6px;
        border-radius: 50%;
        transition: .2s;
    }

    .post-actions i:hover {
        background: #ffe57a;
    }

    .toggle-line {
        width: 100%;
        height: 14px;
        background: #e6e6e6;
        cursor: pointer;
        transition: 0.2s;
    }

    .toggle-line:hover {
        background: #d3d3d3;
    }


    .comments {
        padding: 18px;
        background: #fff4b8;
        border-radius: 0 0 14px 14px;
        max-height: 500px;
        overflow: hidden;
        transition: max-height .35s ease, padding .25s ease;
    }

    .comments.fold {
        max-height: 0;
        padding: 0 18px;
    }

    .comment {
        display: flex;
        gap: 12px;
        padding: 10px 0;
    }

    .c-avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
    }

    .ad-column {
        width: 310px;
        padding-top: 24px;
    }

    .ad-img {
        width: 100%;
        height: 86vh;
        object-fit: cover;
        border-radius: 160px;
    }

}