@media (min-width: 768px) {

  body {
    background-size: cover;
    background-color: #ffffff;
    background-image: url("assets/curves-bg.svg");
    /* las curvas suaves del fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  h2 {
    text-align: center;
    color: rgb(27, 0, 46);
    font-family: 'Yeseva One', serif;
    font-size: 400%;
  }

  p {
    text-align: center;
    color: rgb(27, 0, 46);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
  }

}

@media (max-width: 768px)