body {
  background-size: cover;
}

h2 {
  text-align: center;
  color: rgb(27, 0, 46);
  font-family: 'Yeseva One', serif;
  font-size: 40px;
}

p {
  text-align: center;
  color: rgb(27, 0, 46);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.recuerdame {
  font-size: 10px;
}