.circulo {
  border-radius: 50%;
  object-fit: cover;
  position: absolute; 
}


.grande {
  width: 180px;
  height: 180px;
  left: 80px;
  top: 60px;
}

.mediano {
  width: 120px;
  height: 120px;
  left: 200px;
  top: 0;
}
