@media (min-width: 768px) {

    body {
        background-size: cover;
        background-color: #ffffff;
        background-image: url("assets/fondocircularsilueta.svg");
        background-position: center;
    }

    h1 {
        font-family: 'Poppins', serif;
    }

    h2 {
        text-align: center;
        color: rgb(27, 0, 46);
        font-family: 'Yeseva One', serif;
        font-size: 300%;
    }

    p {
        color: rgb(27, 0, 46);
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 300;
        text-align: justify !important;
    }

    #imput-group {
        height: 30px ;
    }

    #detalles {
        font-family: 'Public Sans', sans-serif;
        font-size: 10px;
    }

    #numerales {
        height: 50px !important;
    }
}

@media (max-width: 768px) {

    body {
        background-size: cover;
        background-color: #ffffff;
        background-image: url("assets/fondocircularsilueta.svg");
        background-position: center;
    }

    h2 {
        text-align: center;
        color: rgb(27, 0, 46);
        font-family: 'Yeseva One', serif;
        font-size: 200%;
    }

    p {
        text-align: center;
        color: rgb(27, 0, 46);
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 300;
        text-align: justify !important;
    }

    #detalles {
        font-family: 'Public Sans', sans-serif;
        font-size: 12px;
        width: 50px;
    }

    #numerales {
        height: 30px !important;
    }
}