*{box-sizing:border-box;}
body{
  margin:0;
  font-family:"Public Sans",Arial,sans-serif;
  background:#fff;
  color:#222;
}

.mi-header {
  background-color: rgb(255, 240, 173);
  height: 80px;
  padding: 0 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

.iconos { display:flex; gap:13px; margin-left:500px; }
.mi-header img { cursor: pointer; }

.buscador {
  width: 250px;
  margin-left: 1050px;
  border-radius: 999px !important;
  height: 38px;
  padding: 6px 18px;
  border: none !important;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  font-size: 15px;
}

.layout{
  display:flex;
  gap:28px;
  justify-content:center;
  margin:34px auto;
  max-width:1150px;
  padding-bottom:80px;
}

.feed{
  width:760px;
  display:flex;
  flex-direction:column;
  gap:46px;
}

.post{
  border-radius:18px;
  overflow:hidden;
  border:2px solid #00000033;
  background:transparent;
}

.post-header{
  display:flex;
  gap:14px;
  align-items:center;
  padding:16px;
  background:#fff1a2;
}

.avatar{
  width:56px; height:56px;
  border-radius:50%;
  object-fit:cover;
}

.user-name{ font-weight:600; }
.user-sub{ font-size:13px; color:#777; }

.gallery{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}

.photo img{
  width:100%;
  height:210px;
  object-fit:cover;
}

.post-description{
  padding:12px 18px;
  background:#fff;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}

.desc-user{ font-weight:600; }

.post-actions{
  display:flex;
  justify-content:flex-end;
  gap:16px;
  padding:6px 16px;
  background:#c4dfbb;
}

.post-actions i{
  cursor:pointer;
  padding:6px;
  border-radius:50%;
  transition:.2s;
}

.post-actions i:hover{
  background:#ffe57a;
}

.toggle-line{
  width:100%;
  height:14px;
  background:#e6e6e6;
  cursor:pointer;
  transition:0.2s;
}

.toggle-line:hover{
  background:#d3d3d3;
}


.comments {
  padding:18px;
  background:#fff4b8;
  border-radius:0 0 14px 14px;
  max-height:500px;
  overflow:hidden;
  transition:max-height .35s ease, padding .25s ease;
}

.comments.fold {
  max-height:0;
  padding:0 18px;
}

.comment{
  display:flex;
  gap:12px;
  padding:10px 0;
}

.c-avatar{
  width:36px; height:36px;
  border-radius:50%;
  object-fit:cover;
}

.ad-column{ width:310px; padding-top:24px; }
.ad-img{
  width:100%; height:86vh;
  object-fit:cover;
  border-radius:160px;
}

@media(max-width:980px){
  .layout{ max-width:920px; }
  .feed{ width:100%; }
  .ad-column{ display:none; }
}
