header {
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 80px;
}

header h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.mi-header {
  background-color: rgb(255, 240, 173);
}


main {
  margin-top: 50px;
}

.imagotipo {
  width: 540px;
  margin-left: -600px;
  margin-top: -0px;
}

main h2 {
  font-family: "Yeseva One", serif;
  color: #005412;
  font-size: 70px;
  margin-right: 600px;
  margin-top: 170px;
}

main p {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 20px;
  color: #005910;
}

.mi-boton {
  border-radius: 25px;
} 

.mi-logo {
 margin-left: 550px;
 width: 40px;
}

.introduccion {
  font-family: "Public Sans", sans-serif;
  font-size: 25px;
  color: #005910;
  max-width: 420px;   /* ✅ A  PÁRRAFO */
  margin: 20px auto;  /* ✅ CENTRADO */
  text-align: center; /* ✅ PARRAFO CENTRADO */
  line-height: 1.5;
  margin-left: 140px; 
  font-weight: 700;
}

.circulos {
  position: relative;
  width: 400px; 
  height: 320px;
  margin-left: 600px; 
  margin-top: 20px; 
}


.circulo {
  border-radius: 50%;
  object-fit: cover;
  position: absolute; 
}


.grande {
  width: 350px;
  height: 350px;
  left: 160px;
  top: -350px;   /* ⬆️ Subida */
}

.mediano {
  width: 270px;
  height: 270px;
  left: 390px;
  top: -160px;    /* ⬆️ Subida */
}

.pequeno,
.pequeño { 
  width: 230px;
  height: 230px;
  left: 380px;
  top: -450px;   
}




.circulo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.container-card {
  width: 80%;
  max-width: 1100px;
}

.left-card {
  background: #fff1ba;
  width: 70%;
  border-radius: 20px 0 0 20px;
}

.user-icon {
  position: relative;
}

.status {
  width: 14px;
  height: 14px;
  background: #4caf50;
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  right: -2px;
}

.big-box {
  background: white;
  height: 300px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  margin-top: 10px;
}


.right-card {
  background: #ffe279;
  width: 30%;
  border-radius: 0 20px 20px 0;
}

.circle {
  width: 55px;
  height: 55px;
  background: #ffffff;
  border-radius: 50%;
}

.ubicacion-btn i {
  color:#000000;
  text-decoration: none;
  cursor: pointer;
  font-size: 45px;
}

.pabloparrilla {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.circulo:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.botones-header {
  margin-left: 900px;
}

.carousel {
  max-width: 700px;
  margin: 50px auto;
}

.carousel-img {
  width: 280px;
  height: 380px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.7;
}

.carousel-item.active .carousel-img {
  transform: scale(1.15);
  opacity: 1;
}

.ver-mas {
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel-item.active .ver-mas {
  opacity: 1;
}

/* Estilo de los controles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}





