body {
  background-color: #fff;
}


.contenido {
  padding-top: 48px;
  padding-bottom: 80px;
  margin-top: 150px;
}

.rosca {
  width: 300px;    
  height: 300px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.rosca:hover {
  transform: scale(1.05); 
}


.tarjeta {
  background-color: #f8f9fa;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 1.5rem;
  min-width: 320px;
  max-width: 420px;
}

.barra-superior {
        background-color: rgb(255, 240, 173);
        height: 55px;
    }

    .icono-header {
        width: 23px;
        height: 23px;
        cursor: pointer;
    }

    .iconos-izq a {
        display: flex;
        align-items: center;
    }

    .iconos-izq {
        margin-left: 400px;
    }

    .buscador-container {
        position: relative;
    }

    .buscador {
        padding: 6px 30px 6px 12px;
        border-radius: 25px;
        border: 1px solid #cfcfcf;
        background: #ffffff;
        width: 260px;
        margin-right: 300px;
    }
